.menuCard {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.menuCard:hover {
  transform: scale(1.05);
}

.menuCardImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.menuCardTitle {
  font-size: 1.5rem;
  margin-top: 15px;
}

.menuCardDescription {
  font-size: 1.2rem;
  margin-top: 10px;
}

.menuCardPrice {
  font-size: 1.2rem;
  margin-top: 10px;
  font-weight: bold;
}

/* Modal */
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  position: relative;
}

.modalImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.modalTitle {
  font-size: 1.8rem;
  margin-top: 10px;
}

.modalDescription {
  font-size: 1.2rem;
  margin-top: 10px;
}

.modalPrice {
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: bold;
}

/* Quantity Control */
.quantityControl {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.quantityButton {
  background: #0070f3;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.quantityValue {
  font-size: 1.5rem;
  margin: 0 15px;
}

.quantityButton:hover {
  background: #005bb5;
}

/* Modal Buttons */
.modalButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.confirmButton,
.closeButton {
  background: #0070f3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.confirmButton:hover {
  background: #005bb5;
}

.closeButton {
  background: #d9534f;
}

.closeButton:hover {
  background: #c9302c;
}


/*Modal*/

